body {
    display: flex;
    justify-content: space-between;

}
div{
    width: 30vw;
    height: 50vh;
    background-color: brown;
}
#first_div{
    background-color: blue;
}
#second_div{
    background-color: aqua;
}
#third_div {
    background-color: blueviolet;
}